// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

// Card
.card {
    border: 0;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
