// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------
.angle-icon {
    width: 13px;
    margin-left: 10px;
}

.angle-icon-gradient {
    width: 30px;
    margin-left: 10px;
}

.social-media-icon {
    width: 30px;
}

.git-icon {
    width: 20px;
    margin: 0 5px;
}
